body {
    font-family: Arial, sans-serif;
    background-image: url("../images/hero-isep.png");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    padding-top: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; 
    height: 600px;
}

/* Style pour le conteneur de l'image */
.image-container {
    text-align: center;
}

.image-container .logo-isep {
    background-color: #fff;
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}